.container-fluid{
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
}

.content{
    height: calc(100vh - 78px);
    overflow: auto;
}

.prod img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.quantity input{
    width: 70px;
    height: 37px;
    text-align: center;
    outline: none;
    border-radius: 0;
    border: 1px solid #dee2e6;
}

.quantity input::-webkit-inner-spin-button,
.quantity input::-webkit-outer-spin-button{
    opacity: 1;
}

.prod:first-child{
    border-top: 1px solid #dee2e6 !important;
}



/* @media screen and (max-width: 576px) {
    .checkout{
        padding: 0 20px !important;
    }
} */