nav{
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #0d6efd;
}

.nav-link.active{
    color: #0d6efd;
}

.cart span{
    font-size: 13px;
} 

.search-input input:focus{
    border-bottom: 1px solid #0d6efd !important;
}

.mobile-search{
    display: none !important;
}

@media only screen and (max-width: 992px){
    .desktop-search{
        display: none !important;
    }
    
    .mobile-search{
        display: flex !important;
    }

    .nav-right-menu{
        display: block !important;
    }
}

@media only screen and (max-width: 400px){
    .desktop-search{
        display: flex !important;
    }
    
    .mobile-search{
        display: none !important;
    }
}