<div class="container-fluid">
    <div class="content h-100 d-flex flex-column align-items-center justify-content-center p-5">
        <a routerLink="/shop" class="redirect position-absolute fs-4 text-dark" data-bs-toggle="tooltip" title="Go back">
            <i class="bi bi-arrow-left-short"></i>
        </a>

        <div class="product row w-75">
            <div class="col-md-6">
                <div class="main-image">
                    <img class="w-100 h-100 border" src="../../../../assets/images/prods/products (2).webp" alt="">
                </div>
                
                <div class="thumbnails my-2">
                    <img src="../../../../assets/images/prods/products (3).webp" class="border rounded-0 mx-1" alt="">
                    <img src="../../../../assets/images/prods/products (2).webp" class="border rounded-0 mx-1" alt="">
                    <img src="../../../../assets/images/prods/products (7).jpg" class="border rounded-0 mx-1" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <h5>Lorem hair oil</h5>
                <p class="fw-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dicta libero autem, ab laudantium molestiae! Lorem ipsum dolor sit amet.</p>

                <div class="d-flex justify-content-between align-items-end my-4">
                    <div>
                        <h6 class="fw-normal">Quantity</h6>
                        <input class="text-center border" type="number" value="1">
                    </div>
    
                    <div>
                        <button class="bg-dark text-white px-5 py-2 w-100 border-0">$45 &#160; &#8211;  &#160; Add to Bag</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
