<div class="container-fluid">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    
    <div class="body">
        <app-navbar></app-navbar>

        <nav aria-label="breadcrumb" class="mt-2 mx-5">
            <ol class="breadcrumb bg-light p-3 ps-4 border rounded">
              <li class="breadcrumb-item"><a routerLink="/admin/" class="text-decoration-none">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/admin/products" class="text-decoration-none">Products</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
        </nav>
        
        <div class="content">
            <div class="product row w-75 mx-auto">
                <div class="prod-images col-md-6">
                    <div class="main-image">
                        <img class="w-100 h-100 border" src="../../../../assets/images/prods/products (2).webp" alt="">
                    </div>
                    
                    <div class="thumbnails my-2">
                        <img src="../../../../assets/images/prods/products (3).webp" class="border rounded-0 mx-1" alt="">
                        <img src="../../../../assets/images/prods/products (2).webp" class="border rounded-0 mx-1" alt="">
                        <img src="../../../../assets/images/prods/products (7).jpg" class="border rounded-0 mx-1" alt="">
                    </div>
                </div>        
                <div class="details col-md-6">
                    <div class="name">
                        <h5>Product Name: </h5>
                        <p>Lorem</p>
                    </div>
                    <div class="description">
                        <h5>Description: </h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse officiis voluptates corporis explicabo, iusto libero reprehenderit nam tenetur, atque velit aperiam. Ea esse qui minima et mollitia consectetur pariatur eos.</p>
                    </div>
                    <div class="category">
                        <h5>Category: </h5>
                        <p>Lorem</p>
                    </div>
                    <div class="d-flex gap-5">
                        <div class="price">
                            <h5>Price</h5>
                            <p>$45</p>
                        </div>
                        <div class="quantity">
                            <h5>Quantity</h5>
                            <p>45</p>
                        </div>
                    </div>
                    <div class="actions mt-4">
                        <a routerLink="/admin/product/1/edit" class="text-decoration-none me-5">Edit</a>
                        <button type="button" class="btn bg-danger text-white">Delete</button>
                    </div>      
                </div>  
            </div>

            <div class="edit col-md-6">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>