.container-fluid{
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
}

.carousel{
    height: 60vh;
    position: relative;
}

img{
    height: 60vh;
    object-fit: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* product */
.product{
    border: 0;
    cursor: pointer;
}

.product img{
    height: 220px;
    object-fit: cover;
}

.product button{
    opacity: 0;
    transition: 0.5s ease-in;
}

.product button:hover{
    background-color: rgb(69, 69, 69) !important;
    transition: 0.1s ease-in-out;
}

.product:hover button{
    opacity: 1;
}

@media only screen and (max-width: 768px){
    .filter{
        display: none;
    }

    .product img{
        height: 270px;
    }
    
    .product button{
        opacity: 1;
    }
    
    .product{
        margin-bottom: 20px;
    }
}