<div class="container-fluid">
    <app-navbar></app-navbar>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/images/oil-discharge.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/hair-care.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/images/oil-discharge.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="overlay"></div>
    </div>  
    
    <div class="row">
        <div class="col-md-2">
            <!-- filter -->
            <app-filter></app-filter>            
            <!-- end of filter -->
        </div>
    
        <!-- products -->
        <div class="wrapper px-5 col-md-10">
            <div class="products row my-5">
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (2).jpg" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (7).jpg" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (2).jpg" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (3).webp" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (2).webp" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="product card" (click)="redirect()">
                        <img src="../../../../assets/images/prods/products (7).jpg" alt="">
                        <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                        <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                        <div class="d-flex justify-content-between fw-light my-2">
                            <p>Shampoo</p>
                            <p>$45.00</p>
                        </div>
                        <button class="bg-dark text-white p-2">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of products -->
    </div>
    <app-cartcanvas></app-cartcanvas>
    <app-footer></app-footer>
</div>
