<div class="offcanvas offcanvas-end" id="offcanvasRight" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body d-flex flex-column p-0">
    <div class="body p-4">
        <p *ngIf="products.length == 0">Your bag is empty!</p>
        <div class="product bg-white d-flex align-items-center justify-content-between gap-4 p-2 position-relative my-2" *ngFor="let product of products">
            <img class="w-25" src="../../../../assets/images/prods/products (1).jpg" alt="">
            <div class="details w-75">
                <p>{{ product.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-semibold">Qty: <span class="fw-light">{{ product.quantity }}</span></p>
                    <p class="fw-semibold">Price: <span class="fw-light">kes {{ product.price }}</span></p>
                </div>
            </div>
            <p class="close btn-close" (click)="remove(product.id)"></p>
        </div>

        <!-- <div class="product bg-white d-flex align-items-center justify-content-between gap-4 p-2 position-relative my-2">
            <img class="w-25" src="../../../../assets/images/prods/products (1).jpg" alt="">
            <div class="details w-75">
                <p>Lorem Shampoo</p>
                <div class="d-flex justify-content-between align-items-center fw-light">
                    <p>2</p>
                    <p>$90.00</p>
                </div>
            </div>
            <p class="close btn-close"></p>
        </div>
        <div class="product bg-white d-flex align-items-center justify-content-between gap-4 p-2 position-relative my-2">
            <img class="w-25" src="../../../../assets/images/prods/products (1).jpg" alt="">
            <div class="details w-75">
                <p>Lorem Shampoo</p>
                <div class="d-flex justify-content-between align-items-center fw-light">
                    <p>2</p>
                    <p>$90.00</p>
                </div>
            </div>
            <p class="close btn-close"></p>
        </div>
        <div class="product bg-white d-flex align-items-center justify-content-between gap-4 p-2 position-relative my-2">
            <img class="w-25" src="../../../../assets/images/prods/products (1).jpg" alt="">
            <div class="details w-75">
                <p>Lorem Shampoo</p>
                <div class="d-flex justify-content-between align-items-center fw-light">
                    <p>2</p>
                    <p>$90.00</p>
                </div>
            </div>
            <p class="close btn-close"></p>
        </div> -->
    </div>

    <div class="bottom py-2 px-3">
        <div class="d-flex justify-content-between align-items-center">
            <p class="fw-bold text-uppercase fs-6">Subtotal</p>
            <p>$180.00</p>
        </div>

        <div class="d-flex flex-column gap-2">
            <a routerLink="/cart" class="btn bg-dark text-white p-2 rounded-0">Go to my cart</a>
            <button type="button" class="btn bg-light border border-dark rounded-0 p-2" data-bs-dismiss="offcanvas" aria-label="Close">Continue shopping</button>
        </div>
    </div>
</div>
</div>