.product{
    border: 0;
    cursor: pointer;
}

.product img{
    height: 220px;
    object-fit: cover;
}

.product button{
    opacity: 0;
    transition: 0.5s ease-in;
}

.product button:hover{
    background-color: rgb(69, 69, 69) !important;
    transition: 0.1s ease-in;
}

.product:hover button{
    opacity: 1;
}

@media only screen and (max-width: 768px){
    .product{
        margin-bottom: 20px;
    }

    .product img{
        height: 270px;
    }
    
    .product button{
        opacity: 1;
    }
}