<div class="wrapper px-5">
    <h4 class="text-center fw-bolder">Best Sellers</h4>
    <p class="text-center fw-light lh-1">Our best selling products are tailored to compliment any hair care routine</p>

    <div class="products row my-5">
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (2).jpg" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (7).jpg" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (2).jpg" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (3).webp" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (2).webp" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="product card">
                <img src="../../../../assets/images/prods/products (7).jpg" alt="">
                <h5 class="text-left fw-normal my-2">Lorem Shampoo</h5>
                <p class="summary text-justify fs-6 fw-lighter">Lorem ipsum dolor sit amet consectetur adipi...</p>
                <div class="d-flex justify-content-between fw-light my-2">
                    <p>Shampoo</p>
                    <p>$45.00</p>
                </div>
                <button class="bg-dark text-white p-2">Add to Cart</button>
            </div>
        </div>
    </div>
</div>