<div class="wrapper p-5">
    <h4 class="text-center fw-bolder">Wab Hair Products</h4>

    <div class="products row my-5">
        <div class="col-md-2 flex-fill">
            <div class="product card" (click)="redirect()">
                <img src="../../../../assets/images/prods/products (2).jpg" alt="">
                <h5>Shampoos</h5>
            </div>
        </div>
        <div class="col-md-2 flex-fill">
            <div class="product card" (click)="redirect()">
                <img src="../../../../assets/images/prods/products (3).jpg" alt="">
                <h5>Conditioners</h5>
            </div>
        </div>
        <div class="col-md-2 flex-fill">
            <div class="product card" (click)="redirect()">
                <img src="../../../../assets/images/prods/products (5).jpg" alt="">
                <h5>Leave-in treatment</h5>
            </div>
        </div>
        <div class="col-md-2 flex-fill">
            <div class="product card" (click)="redirect()">
                <img src="../../../../assets/images/prods/products (7).jpg" alt="">
                <h5>Glosses</h5>
            </div>
        </div>
        <div class="col-md-2 flex-fill">
            <div class="product card" (click)="redirect()">
                <img src="../../../../assets/images/prods/products (3).jpg" alt="">
                <h5>Hair oils</h5>
            </div>
        </div>
    </div>
</div>